.button{
    color: var(--text-color);
    font-weight: bold;
    min-height: 30px;
    min-width: 60px;
    width: fit-content;
    height: fit-content;
    outline: none;
    border: none;
    background: var(--header-bg-color);
    text-transform: capitalize;
    padding: 5px;
    transition: transform .4s;
    cursor: pointer;
}

.button:hover{
    transform: translateY(-5px);

}